html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 1em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f3f3f3;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.calc-buttons {
  display: flex;
  width: 24%;
  height: 32%;
  justify-content: space-between;
}

.calc-link {
  background-color: white;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.calc-link:hover {
  background-color: #5a5a5a;
  color: #f3f3f3;
}

.content-container {
  display: flex;
  flex: 5;
  background-color: #e0e0e0;
}

.gutter-1 {
  flex: 1;
  background-color: #e0e0e0;
}

.gutter-2 {
  flex: 1;
  background-color: #e0e0e0;
}

/*main-content is between the gutters and holds the calculators*/
.main-content {
  display: flex;
  flex: 5;
}

/*all the calc-number classes are the ones that will either be hidden or displayed when clicked*/
.calc-one,
.calc-two {
  flex: 1;
  flex-direction: column;
  align-items: center;
}

/*UNIQUE STYLING FOR CALC-ONE(UNIFORM ACCELERATION CALCULATOR)*/

.unknown-selector {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;
}

.unknown-option {
  margin-right: 1.5%;
  border-radius: 10px;
  background-color: #77b1a3;
  display: flex;
  justify-content: center;
  flex: 1;
  transition: 0.25s;
  cursor: pointer;
}

.unknown-option:hover {
  background-color: #beccbf;
}

.unknown-option:hover p {
  color: #5a5a5a;
}

.unknown-option p {
  color: #e0e0e0;
}

.unknown-option:last-child {
  margin-right: 0;
}

.calc-one {
  display: flex;
}

/***********UNIQUE STYLING FOR CALC-TWO****************/

.calc-two {
  display: none;
  background-color: #e0e0e0;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  font-size: 24px;
}

/******************************************************/

/*styling for the data input fields*/
.data-input {
  width: 320px;
  margin: 2.5% 0 2.5% 0;
  border: none; /* <-- This thing here */
  border: solid 1px #ccc;
  border-radius: 10px;
  height: 20px;
  padding: 4px;
  font-size: 16px;
}

.answer-container {
  background-color: #f7e8cb;
  border-radius: 10px;
  padding: 4px 0 4px 0;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.answer-label {
  margin-right: 1%;
}

.calculate-btn {
  margin: 2% 0 0 0;
  background-color: #b08d6d;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.calculate-btn:hover {
  background-color: #ffffff;
}

.calculate-btn:hover p {
  color: #b08d6d;
}

.calculate-btn p {
  color: #e0e0e0;
}

.error-message {
  font-size: 14px;
}

.error-message-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px 0 6px;
  border-radius: 10px;
}

.footer {
  flex: 1;
  background-color: #ffffff;
}
