html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 1em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.header {
  background-color: aquamarine;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.calc-buttons {
  display: flex;
  width: 24%;
  height: 32%;
  justify-content: space-between;
}

.calc-link {
  background-color: violet;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex: 5;
}

.gutter-1 {
  background-color: blueviolet;
  flex: 1;
}

.gutter-2 {
  background-color: yellowgreen;
  flex: 1;
}

/*main-content is between the gutters and holds the calculators*/
.main-content {
  display: flex;
  background-color: teal;
  flex: 5;
}

/*all the calc-number classes are the ones that will either be hidden or displayed when clicked*/
.calc-one,
.calc-two {
  flex: 1;
}

.calc-one {
  display: block;
  background-color: coral;
}

.calc-two {
  display: none;
  background-color: darkblue;
}

.calculate-btn {
  background-color: whitesmoke;
}

.footer {
  flex: 1;
  background-color: crimson;
}
